<div class="plan">
    <p class="plan-title">プランテキスト</p>
    <div class="plan-price">
        <p class="plan-price1">￥<b>5,000</b></p>
        <p class="price-text">月額</p>
    </div>
 <p class="plan-text">入会金0円</p>
 <p class="plan-text">平日:9時～17時</p>
 <p class="plan-text">土日祝:利用ナシ</p>
 <p class="plan-text">コアタイムでの利用に最適なプラン</p>
</div>

<div class="plan">
    <p class="plan-title">プランテキスト</p>
    <div class="plan-price">
        <p class="plan-price1">￥<b>5,000</b></p>
        <p class="price-text">月額</p>
    </div>
 <p class="plan-text">入会金0円</p>
 <p class="plan-text">平日:9時～17時</p>
 <p class="plan-text">土日祝:利用ナシ</p>
 <p class="plan-text">コアタイムでの利用に最適なプラン</p>
</div>