@use "../../../variables" as *;

.header {
  position: relative;
  background-color: $black;
  padding-left: 16px;
  padding-right: 8px;

  @media screen and (min-width: $breakpoint-xl) {
    padding-right: 20px;
    padding-left: 20px;
    background-color: $black_50;
  }

  @media screen and (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .switch-img {
    img {
      width: 120px;
      @media screen and (min-width: $breakpoint-xl) {
        padding-left: 10px;
        width: 140px;
      }
    }
  }
  .container-fluid {
    padding: 0px;
  }

  .concept-container {
    display: flex;
    .humberger-text {
      font-weight: 400;
      font-size: $fontsize-s;
      color: $white;
      text-decoration: none;
    }
    .navbar-toggler {
      background-color: $black;
      margin-left: auto;
    }
  }
  @media screen and (min-width: $breakpoint-xl) {
    .container-fluid {
      margin-left: auto;
    }
  }
  .humberger-text {
    padding-top: 15px;
    padding-bottom: 15px;
    @media screen and(min-width:$breakpoint-xl) {
      padding: 20px 20px;
      position: relative;
      &:hover {
        color: $gray_nobel;
      }
    }
  }
  @media screen and (min-width: $breakpoint-xl) {
    .collaspe {
      position: absolute;
    }
  }

  .concept-container {
    position: relative;
  }
  .dropdown-menu {
    background-color: $black;
    position: relative;
    border-radius: 0%;

    &.collapsing {
      display: block;
    }

    @media screen and (min-width: $breakpoint-xl) {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 68px;
      margin-left: 84px;
    }
    .dropdown-item {
      color: $white;
      font-size: $fontsize-s;
      padding-top: 15px;
      padding-bottom: 15px;

      &:hover {
        background-color: $black;
      }
      @media screen and (min-width: $breakpoint-xl) {
        background-color: $black;
        &:hover {
          background-color: $orange_bistre;
        }
      }
    }
  }
  .nav-link {
    font-weight: 400;
    font-size: $fontsize-s;
    color: $white;
    text-decoration: none;
    padding: 15px 0px;
    @media screen and (min-width: $breakpoint-xl) {
      margin-left: auto;
      padding: 20px;
      &:hover {
        color: $gray_nobel;
      }
    }
  }
}
