@use "../../../variables" as *;
.header {
  position: relative;
  
  .concept-container {
    display: flex;
    .humberger-text {
      font-weight: 400;
      font-size: $fontsize-s;
      color: $white;
      text-decoration: none;
    }
    .navbar-toggler {
      background-color: $black;
      margin-left: auto;
    }
  }
  @media screen and (min-width: $breakpoint-xl) {
    .container-fluid {
      margin-left: auto;
    }
  }
  .humberger-text {
    padding: 15px 0px;
    @media screen and(min-width:$breakpoint-xl) {
      padding: 20px 8px;
      position: relative;
    }
  }
  @media screen and (min-width: $breakpoint-xl) {
    .collaspe {
      position: absolute;
    }
  }

  .dropdown-item {
    color: $white;
    font-weight: 400;
    font-size: $fontsize-s;
    padding: 15px 0px;
  }
  .nav-link {
    font-weight: 400;
    font-size: $fontsize-s;
    color: $white;
    padding: 15px 0px;
    @media screen and (min-width: $breakpoint-xl) {
      margin-left: auto;
      padding: 20px;
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
}
