@use "../../variables" as *;
.news-and-events{
  padding: 15px;
}

@media screen and (min-width: $breakpoint-lg) {
  .news-and-events {
    display: flex;
    flex-direction: row;
    gap: 4%;
  }

  .organisms-news {
    width: 48%;
  }
  .events {
    width: 48%;
  }
  .news-text-box {
    display: flex;
    .news-text-box2 {
      width: 100%;
    }
  }
}
