@use "../../../variables" as *;
.about {
  padding: 40px 135px;
  margin: 0px;
  @media screen and (min-width: $breakpoint-lg) {
    padding: 100px 16px;
    margin: 0px;
  }
  .container {
    .img-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      justify-content: center;
      @media screen and (min-width: $breakpoint-lg) {
        flex-wrap: nowrap;
      }
      img {
        width: 50%;
        @media screen and (min-width: $breakpoint-lg) {
          width: 25%;
        }
      }
    }
    .about-text-container {
      background-color: $white_smoke;
      padding: 32px 20px;
      .about-title {
        color: $orange_bistre;
        font-family: Noto Serif JP;
        font-weight: 400;
        font-size: $fontsize-l;
        line-height: 30px;
        text-align: center;
        padding-bottom: 6px;
        @media screen and (min-width: $breakpoint-lg) {
          font-size: $fontsize-xl;
          line-height: 54px;
          padding-bottom: 10px;
        }
      }
      .about-text {
        color: $black;
        font-family: Noto Sans JP;
        font-weight: 400;
        font-size: $fontsize-s;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}
